/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;

}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {

 
  display: flex;
  flex-direction: column;
  justify-content: center;
}



a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
}



.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/********************************* HEADER *********************************/

body{


}
.Header {
  margin-left:1rem;
 padding-left: 0rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  


 
  margin-top: 0.625rem;
  
 


 
}

.Header__logo img{
padding-left: 0rem;
width:5rem;


}
/*****Nav Hebergement-Activités********/
    .Header__hebAct {
     
      font-size: 1rem;
    margin-right: 1.25rem;
    padding: 1.875rem;
    display: flex;
    gap: 1.6rem;
    align-items: flex-start;

    
    }





    .Header__hebAct >* {
    border-top: 0.31rem solid white;
    }
    .Header__hebAct>*:hover{
  border-top: 0.31rem solid #0065FC;
  color:#0065FC;
    }

/*******************************DIV RECHERCHE VILLE****************************************************/

/*****Formulaire Recherche******/

.TrouvezHebergements{
  padding-left: 0rem;

  margin-left: 1rem;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: space-around;

 

 height:15.625rem;



}
.TrouvezHebergements__text{

  height: 4rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:0.5rem;
}

    .TrouvezHebergements__form {
      
  
    height:20%;

    display: flex;
    border-radius: 0 2rem 2rem 0;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font-size: 100%;

    }
 *
 #TrouvezHebergements__form___recherche{
  background-color: #f2f2f2;
height: 100%;
font-size: 180%;

 }
   
        /**icone**/

        .fa-location-dot {

          background-color: #f2f2f2;
          display:flex;
          flex-direction:column;
          align-items: center;
          justify-content: center;

           height:100%;
          color: black;
        

        background-color: #f2f2f2;
        padding: 1rem;
        border: solid 0.06rem #f2f2f2;

      
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        }
        /**saisie input de la ville**/
        .TrouvezHebergements__form__input {

        height:100%;
        border: solid 0.06rem #f2f2f2;
        font-weight: bold;
        }
        ::placeholder{
          color: black;
          font-weight: bold;
        }
        .TrouvezHebergements__form__btnRecherche{
          border:none;
          color: white;
          font-size: large;
          font-weight: bold;
          background-color: #0065fc;
          height: 100%;
          border-radius:0 2rem 2rem 0;
          padding:0.5rem;
        }
        #TrouvezHebergements__form__btnRecherche__loupe{
      
        display: none;
        }

        .TrouvezHebergements__form__btnRecherche__recherche {
          
         height: 100%;

      
        border-radius: 0 2rem 2rem 0;
        }

   
    .TrouvezHebergements__filtres {
      height:20%;
    
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    }
        .TrouvezHebergements__filtres__button {
          background-color: white;
          padding:0.5rem;
          
        
        display: flex;
        align-items: center;
        gap: 0.312rem;
        border-radius: 2rem 2rem 2rem 2rem;
        border:solid 0.0625 #f2f2f2;
        }
        .TrouvezHebergements__filtres  :hover {
        
        background-color: #deebff;
        }
        .TrouvezHebergements__filtres > p {
        font-weight: bold;
        }
        .TrouvezHebergements__filtres__button>p{
          font-weight: bold;
        }
        .TrouvezHebergements__logementsDispo{
            display: flex;
            justify-content: flex-start;
            align-items: center;

        }
        .TrouvezHebergements__logementsDispo i{
          margin:0.2rem;
          display:flex;
          flex-direction: column;
          justify-content: center;
           padding:0.25rem;
           padding-left:0.5rem;
           padding-right:0.5rem;

           border:solid 0.1rem  #f2f2f2;
           border-radius: 90%;

          
        }
       
          .TrouvezHebergements__logementsDispo p{

          margin-left: 0.5rem;
        }

/*fin TrouvzHebergement*/

/*********************** MAIN ***********************************/
.main {
    height:75rem;
    margin:1.25rem;
   
}


/*******************PARTIE I HEBERGEMENTS***********************/
.Hebergements{

  padding-left: 0;
 
    display:flex;
    height: 55%;
    justify-content:space-between
   
}
/*****Hebergement Liste Generale******/
    .Hebergements__listeG {

      background-color:  #f2f2f2;
      border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    width: 66%;
    height: 100%;
    flex-wrap: wrap;
    
    }
        .Hebergements__listeG__titre{
          padding: 1rem;

        }
        .Hebergements__listeG__cards {
        padding-left: 0;

        height: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
       
        


        }
        .Hebergements__listeG__cards__link{

          padding:1rem;
            height:50%;
            width:33%;
    
        }


            /*.Hebergements__listeG__cards__hotel*/
            .Hebergements__listeG__cards__link__hotel{
            
              background-color: white;
              padding:0.3rem;

                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 2rem 2rem 2rem 2rem;
              
                height: 100%;

            }
                /* .Hebergements__listeG__cards__link__hotel__link*/
                .Hebergements__listeG__cards__link__hotel{
                    
                

                }
                
                    .Hebergements__listeG__cards__link__hotel__img {
                        border-radius: 2rem 2rem 0rem 0rem;
                        max-width: 100%;
                        height: 60%;
                        object-fit:cover;
                        padding-left: 0;
                        }
                    .Hebergements__listeG__cards__link__hotel__text {
                      display:flex;
                      flex-direction: column;
                      justify-content: space-around;
                    
                   padding:0.5rem;
                    height:40%;
            
                        }
                            .Hebergements__listeG__cards__link__hotel__text__titrePrix__titre{
                             padding-bottom:0.5rem;
                        
                        }
                            .Hebergements__listeG__cards__link__hotel__text__titrePrix__prix{
                       
                              align-items: space-between;
                                height:40%;
                     
                            }

                            .Hebergements__listeG__cards__link__hotel__text__cardating{
                             padding-top:0.3rem;
                           
                    
                
                            display:flex;
                            justify-content: flex-start;
                            align-items: center;
                      
                          

                            }
                .Hebergements__listeG__afficherPlus{
                            font-weight: bold;
                            padding-left: 2rem;
                            }       
                
            
/*****************Populaires*************************/
.Hebergements__populaire__container  {

}
.Hebergements__populaire__container__link{

}
.Hebergements__populaire__container__link__hotel{}
      .Hebergements__populaire {

    display: flex;
    flex-direction: column;

    width: 32%;
    height:100%;
    border-radius: 2rem 2rem 2rem 2rem;
    background-color:#f2f2f2;
    
    }
        .Hebergements__populaire__titreEtLogo{

    padding:2rem;        
    display:flex;
    flex-direction: row;
    justify-content: space-between;


        }

            .Hebergements__populaire__titreEtLogo{

                height:11%
            }
            /****logo***/
       

        .Hebergements__populaire__container{
  

            display:flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: space-between;
        
           
            height:89%;

        }
        .Hebergements__populaire__container__link{
          padding:1rem;
          display:flex;
          flex-direction:column;
          flex-wrap: wrap;  
       

        height: 33%;
    

        }
            .Hebergements__populaire__container__link__hotel{
              display:flex;
              flex-direction:column;
              flex-wrap: wrap;
              background-color: white;
            border-radius: 2rem 2rem 2rem 2rem;
            display:flex;
            flex-direction: row;
            width: 100%;

            }
                
            
                    .Hebergements__populaire__container__link__hotel__img{
                        padding: 0.5rem;
                        object-fit:fill;
                        border-radius: 2rem 0rem 0rem 2rem;
                        width: 35%;
                        height:10rem;
                    }


                    .Hebergements__populaire__container__link__hotel__text{
                    
                      padding-top: 1rem;
                      padding-left:0rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 65%;
                    }
                    .Hebergements__populaire__container__link__hotel__text__titrePrix{
                      height: 40%;

                      padding-left:0.5rem;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-start; 
                   
                    }
                    .Hebergements__populaire__container__link__hotel__text__titrePrix__titre{

                    }
                    .Hebergements__populaire__container__link__hotel__text__titrePrix__prix{
                     padding-top:0.5rem;
                    }
                    .Hebergements__populaire__container__link__hotel__text__cardating{
                      padding:0.5rem;

                    }




/***************************MAIN PARTIE II Activites*********************************/

.Activites{
    
    height: 45%;
    padding-top:1rem;
    padding-left:0rem;


}
    .Activites__container{
      padding-left: 0rem;

      
        height: 90%;

        display: flex;
    
    }
    
            .Activites__container__link{
             
            border-radius: 2rem 2rem 2rem 2rem;

              margin :1rem;
              height: 100%;
              width: 25%;
              box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.75rem;


            }
              .Activites__container__link__imgText{
               
                border-radius: 2rem 2rem ;
              background-color: white;
                padding:0rem;

                height: 100%;
                width: 100%;

              }
                .Activites__container__link__imgText__img{

                  padding:0rem;
                    border-radius: 2rem 2rem 0rem 0rem;
                    width: 100%;
                    height: 85%;
                    object-fit:cover;

                    
                }
                .Activites__container__link__imgText__text{
                  height:15%;
                  padding: 1rem;

                }


.sectionActivites {
  display: flex;
  height: 30rem;
}
/*.Card_Activité_1{
    background-color: green;
}*/
.Card_Activité_1 > a > img {
  border-radius: 2rem 2rem 0rem 0rem;
  width: 100%;
  height: 60%;
}

.sectionActivites img {
  
}

/***************************FOOTER*******************************************/

.Footer {
  background-color:#f2f2f2;
  height:15rem;

  display: flex;
  justify-content: flex-start;
}



    .Footer div {
    padding-right: 2rem;
    padding:0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width:30%;
    }
    .Footer div>*{
      padding: 0.5rem;
    }
    .Footer__nosHebergements {
    display: flex;
    flex-direction: column;
    }

    .Footer__assistance {
    display: flex;
    flex-direction: column;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

  @media screen and (max-width: 1024px) {

    body{
      height:112.5rem;
    }
.Header{
  height: 4%;
}
.TrouvezHebergement{
  height :17%;
}
  .main{

    height:71%;
  }
  .Hebergements {

    height:68%;
    

   display:flex;
   flex-direction: column;
   justify-content: space-between;
    
  }
  .Hebergements__listeG{
  width:100%;
  height:67%;

 
  }
  .Hebergements__listeG__titre{
    padding-top: 2rem;
    padding-left:2rem;
  }
  .Hebergements__listeG__cards{
    height: 77%;
 /* border :solid blue 2px; */
 display:flex;

 justify-content:space-around;
 align-items: space-around;
  }
  .Hebergements__listeG__cards__link{
  
    padding:1rem;
/* border:solid red; */
    height: 50%;
    width: 30%;
  }
  .Hebergements__listeG__cards__link__hotel{
    /* border:solid rgb(255, 247, 0); */
    height:100%;
   
  }
  .Hebergements__listeG__cards__link__hotel__img{
    height:6rem;

  }
  .Hebergements__listeG__afficherPlus{

    padding-left:2rem;
    padding-bottom: 2rem;
  }
  .Hebergements__populaire{
  margin-top: 3rem;
  margin-bottom: 2rem;
    height:33%;
    width:100%;

  }
  .Hebergements__populaire__container{
    display:flex;
    flex-direction: row;

    width: 100%;
    
  }
  .Hebergements__populaire__container__link{

    height:100%;
    width: 33.33%;

  }
  .Hebergements__populaire__container__link__hotel{
 
    width: 100%;

  }
  .Activites{
   
    height:32%;
  }
  .Activites__container__link{
    height: 90%;
  }
.Activites__container__link__imgText__img{
  height: 75%;
}
 .Footer{
  height: 8%;
 }

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 575.98px) {

  #loupe {
    display: flex;
  }

  #recherche {
    /*  visibility:hidden;*/
    display: none;
  }

  .Hebergements {
    display:flex;
    flex-direction:column;
     
   }
 
   .Hebergements__listeG{
     display:flex;
     flex-direction: column;
   }
   .Hebergements__listeG__cards{
    display:flex;
    flex-direction: column;
   }
 
 
   .Hebergements__populaire {
     width: 100%;
     margin-top: 3.125;
     flex-direction:column;
   }
 
   .Hebergements__populaire__container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: pink;
    }
   
 
   .Hebergements__populaire__container__link{
     width: 33%;
   }
 
   .Hebergements__populaire__container__link__hotel>h3{
     font-size: 0.875rem;
   }
 
   .Hebergements__populaire__container__link__hotel>p {
     font-size: 0.812rem;
   }
}
  }

/*push ok*/